<!--populate with contents from DB -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <section class="book-view-container">
    <ul id="book-list">
      <% bookResultsFromDB.forEach(book => { %>
        <li class="book-item" data-id="<%= book.id %>">
        <p><%= book.title %></p>
        <a href="/books/detail <%= book.id%>">View book details</a>
      </li>
     <% }) %>
    </ul>
  </section>
</body>
</html>