/* TODO: import font family */

body {
    background-color: #dadbe5;
    font-family: 'Poppins', sans-serif;
}

/* base mobile layout*/
main{
    display: grid;
    grid-template-columns: 10% repeat(10);
    grid-template-rows: 10% repeat(10);
}
