/* base mobile layout*/


@media (max-width: 480px){

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
    }

    h1{
        font-size: 2em;
    }
    img {
        width:80%;
        max-width: 100px;
        padding-top: 5%;
    }
    
    p {
        width: 80%;
    }

    .select-book-button{
        padding-bottom: 5%;
    }
}

.bookTitle{
    font-size: 3ems;
}

/*  */
@media(min-width: 481px){
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    h1{
        font-size: 3em;
    }

    img {
        width:80%;
        max-width: 300px;
        padding-top: 5%;
    }
    
    p {
        width: 80%;
    }

    .select-book-button{
        padding-bottom: 5%;
    }
}






form{

    grid-row-start: 7; 
    border: 1px white solid;
    box-sizing: border-box
}

form > input{

  border: 1px white solid;
  border-radius: 3px;
  box-sizing: border-box;
}

label{
    /* height: 50px;
    width: 300px; */
    /* grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 7;  */
    flex-grow: 2;
    background-color: #475a77;
    border: 1px white solid;
    border-radius: 3px;
    box-sizing: border-box;
}