/* base mobile layout*/

img {
    width: 150px;
}

p {
    width: 250px;
}

h4{
    grid-column-start: 2;
        
}

form{
    grid-column-start: 2;
    grid-row-start: 4; 
    border: 1px #dadbe5 solid;
    box-sizing: border-box
}

form > input{
  height: 50px;
  width: 300px;
  border: 1px white solid;
  border-radius: 3px;
  box-sizing: border-box;
}

label{
    height: 50px;
    width: 300px;
    border: 1px white solid;
    border-radius: 3px;
    box-sizing: border-box;
}