/* base mobile layout*/

img {
    /* width: 150px; */
    /* grid-column-start: 5;
    grid-column-end: 8; */
    margin: 2%;
}

p {
    width: 250px;
}

h4{
    /* grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 4; 
    grid-row-end: 5;            */
}

form{
    /* grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 7;  */
    border: 1px white solid;
    box-sizing: border-box
}

form > input{
  /* height: 50px;
  width: 300px; */
  /* grid-column-start: 2;
  grid-column-end: 8;
  grid-row-start: 4; 
  grid-row-end: 5;  */
  border: 1px white solid;
  border-radius: 3px;
  box-sizing: border-box;
}

label{
    /* height: 50px;
    width: 300px; */
    /* grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 7;  */
    flex-grow: 2;
    background-color: #475a77;
    border: 1px white solid;
    border-radius: 3px;
    box-sizing: border-box;
}